@using GBCSporting_LAIR.Models.ViewModels.RegViewModel
@model RegViewModel
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Product.Name from @Model.Customer.FullName</h4>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId" />
        <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="List" asp-controller="Registration" >Back to List</a>
    </form>
</div>